//:::::::::::::::::::::Colors
$white: #fff;
$off-white: #e2dee3;
$blue: #065fb1;
$gray: #c0c0c0;
$gray-dark: #3a3a3a;
$red: crimson;
$green: green;

//::BG
$bg-white: $white;

//::TEXT
$txt-white: #fff;
$txt-blk: $gray-dark;

//::BDR
$bdr-gray: $gray;
$bdr-correct: $green;
$bdr-wrong: green;

//:::::::::::::::::::::Borders
$bdr-radius-default: 8px;
$bdr-circle: 50%;

//:::::::::::::::::::::TYPE
$line-height-base: 1.4;

//:::::::::::::::::::::MEDIA QUERIES
$min-width-mobile: 380px;
$max-width-base: 600px;
$mobile: "screen and (max-width:720px)";
$desktop: "screen and (min-width:721px) and (max-width:1279px)";
$desktop-md: "screen and (min-width:1280px) and (max-width:967px)";
